body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2rem;
}
.container > div {
    background: aqua;
    padding: 20px 10px;
    border: solid 1px #000;
    cursor: pointer;
}
.row >  div:nth-child(even) {
    background-color: red !important; 
    color: purple;
    font-size: 2rem;
    /* display: none; */
}
.hidden {
    display: none;
}