@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background: rgb(2, 0, 36);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(227, 227, 232, 1) 0%, rgba(0, 212, 255, 1) 100%); */
    overflow: hidden;
    background-image: url("../images/cloud.jpg");
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
}

/* make mobile hamburer a little to the right */
body>a>i {
    margin: 1.4rem;
}
a {
    text-decoration: none;
}

.debug {
    font-size: 20px;
    color: #f00;
}
.myButton {
    color: #000 !important;
    text-transform: uppercase;
    background: #c3c3c3;
    padding: 9px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.myButton:hover {
    /* background: #434343; */
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#second {
    transition: .5s;
    height: 85vh;
}

#second  .box {
    background-color: #0ff;
    font-size: 20rem;
    height: 90vh;
}

#today {
    font-weight: bold;
}

#weather {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
}

.collapsible-body:hover {
    color: #000;
    background-color: #00ff00;
}

#weather>div {
    /* padding: 10px, 10px; */
    padding: 0 20px;
    align-items: center;
    color: #333;
}

#wet {
    font-weight: bold;
    font-size: 18px;
    /* margin-left: 90px; */
    margin: 0 90px;
}
i.material-icons {
    color: white;
}

#cards .row {
    width: 100%;
    margin: 0;
}


.top>ul {
    display: flex;
    /* background: linear-gradient(40deg, rgba(2, 0, 36, 1) 0%, rgba(227, 227, 232, 1) 0%, rgba(1, 212, 255, 1) 10%); */
    /* background-image: url("wood2.jpg") */
}
#topInfo {
    padding-top: 18px;
}
.ok {
    display: inline;
    float: right;
}


#below {
    font-size: 15;
    font-weight: bold;
    /* display: flex; */
    /* align-items: flex-start; */
}

#below>img {
    margin-right: 8px;
}

.top>ul>li {
    /* margin: 1rem; */
    /* border: 1rem; */
    /* flex-grow: 1; */
    /* border: solid; */
    padding: .5rem .5rem 0 .5rem;
}

.top>li:nth-of-type(1) {
    flex-grow: .4;
}

.top>li:nth-of-type(4) {
    flex-grow: 10;
}

.top>li:nth-of-type(3) {
    flex-grow: 8;
}

.special {
    color: red !important;
    background-color: white !important;
    /* font-weight: bold;
    font-size: 20px; */
    /* font-family: cursive; */
    grid-column-start: 1;
    grid-column-end: 3;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 800px; */
    grid-auto-rows: 1fr;
}

#call {
    /* call icon not visisible non mobile */
    display: none;
}

.box {
    background-color: beige;
    padding: 2rem;
    margin: .5rem 2rem;
    /* width: 80%; */
    height: 90vh;
    overflow: auto;
    border: solid green 2px;
    border-radius: .3rem;
     box-shadow: 5px 10px #2222;
}

.gridCard {

    /* text-align: center; */
    /* border: solid black 3px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: .5rem;
    overflow: hidden;
    /* overflow: scroll; */
    background-color: aliceblue;
}


#service {
    color: #ff0000;
    margin-left: .3rem;
    background-color: white;
}

#search {
    padding-left: .5rem;
    width: 92%;
}

.collapsible-body {
    padding: .5rem 2rem;
}

#first {
    height: 90vh;
}

@media only screen and (max-width: 800px) {

.myButton {
    color: #000 !important;
    text-transform: uppercase;
    background: #c3c3c3;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-size: 10px;
}

    #call {
        display: inline;
    }
.special {
    color: red !important;
    background-color: white !important;
    /* font-weight: bold;
    font-size: 20px; */
    /* font-family: cursive; */
    grid-column-start: 1;
    grid-column-end: 2;
}
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    #weather {
        font-size: 15px;
    }
    #weather>div {
    /* padding: 10px, 10px; */
    padding: 1px 9px;
    align-items: center;
}
    #today {
        display: none;
    }

    .gridCard {
        grid-template-columns: repeat(1, 1fr);
    }

    ul> li:nth-of-type(2) {
    background: lightsteelblue;
    display: none;
    }

    #first {
        display: none;
    }

    .box {
        height: 100vh;
        padding: 0;
    }

    #print {
        display: none;
    }
}